<section class="bg-beige" id="portfolio">
  <div class="container text-center my-5 py-5" data-aos="fade-down">
    <h2 class="gold text-center">What I can do.</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <a href="">
            <img class="card-img-top" alt="A photo of my website" src="assets/website.png">
          </a>
          <div class="card-body">
            <div class="card-text">
              <h4>Personal Website</h4>
              <p>An interactive resume website.</p>
              <p>Tools: HTML, CSS, Bootstrap, jQuery.</p>
            </div>
            <div class="btn-group">
              <a type="button" class="btn btn-sm btn-outline-secondary" href="https://aphan1.pages.cs.washington.edu/personal-website/">View website</a>
              <a target="_blank" rel="noopener noreferrer" type="button" class="btn btn-sm btn-outline-secondary" href="https://gitlab.cs.washington.edu/aphan1/personal-website">View code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <a target="_blank" rel="noopener noreferrer" href="https://gitlab.cs.washington.edu/aphan1/mazealgorithms">
            <img class="card-img-top" alt="Maze algorithm project" src="assets/maze.gif">
          </a>
          <div class="card-body">
            <div class="card-text">
              <h4>MazeAlgorithms</h4>
              <p>Generation and shortest path algorithms.</p>
              <p>Tools: Python, Pygame</p>
            </div>
            <a target="_blank" rel="noopener noreferrer" type="button" class="btn btn-sm btn-outline-secondary" href="https://gitlab.cs.washington.edu/aphan1/mazealgorithms">View code</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <a target="_blank" rel="noopener noreferrer" href="https://gitlab.cs.washington.edu/aphan1/tetris-lua">
            <img class="card-img-top" alt="Tetris project" src="assets/tetris.gif">
          </a>
          <div class="card-body">
            <div class="card-text">
              <h4>Tetris Lua</h4>
              <p>Fully customizable, SRS-standard Tetris. </p>
              <p>Tools: Lua, LOVE2D.</p>
            </div>
            <a target="_blank" rel="noopener noreferrer" type="button" class="btn btn-sm btn-outline-secondary" href="https://gitlab.cs.washington.edu/aphan1/tetris-lua">View code</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <a href="https://spotify-sort.herokuapp.com/">
            <img class="card-img-top" alt="Spotify sort project" src="assets/spotify_website.JPG">
          </a>
          <div class="card-body">
            <div class="card-text">
              <h4>SpotifySort</h4>
              <p>Sort your Spotify playlists.</p>
              <p>Tools: React, Heroku, Node.js, JSON, Bootstrap</p>
            </div>
            <div class="btn-group">
              <a type="button" class="btn btn-sm btn-outline-secondary" href="https://spotify-sort.herokuapp.com/">View website</a>
              <a target="_blank" rel="noopener noreferrer" type="button" class="btn btn-sm btn-outline-secondary" href="https://gitlab.cs.washington.edu/aphan1/spotifysort">View code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Check out my GitLab for more:</p>
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.cs.washington.edu/aphan1" class="contact">
      <img src="assets/gitlab.png" alt="Gitlab icon" class="contact-img">
      <span>https://gitlab.cs.washington.edu/aphan1</span>
    </a>
  </div>
</section>